# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Website/DigiCaribbean_annotations_1.jpg
Website/DigiCaribbean_annotations_1(1).jpg
Website/DigiCaribbean_FinalLogoOptions_011717.pdf
Website/DigiCaribbean_homepage_011717.jpg
Website/DigiCaribbean_How_icon_jobs.png
Website/DigiCaribbean_How_icon_services.png
Website/DigiCaribbean_icon_email.png
Website/DigiCaribbean_icon_phone.png
Website/DigiCaribbean_orangeline.jpg
Website/DigiCaribbean_Who_BG.jpg
Website/DIGICARIBBEAN_why_map_BG.jpg
Website/DIGICARIBBEAN_why_map_transparent.png
Website/DigiCaribbeanLogo_031317-15.png
Website/digicarribean_extraImage_bg.jpg
Website/digicarribean_heroimage.jpg
Website/digicarribean_mission_bg.jpg
Website/Roboto_Font.zip
Website/twelvesprings_17161_logo.png
