@import url('https://fonts.googleapis.com/css2?family=Orbitron');

.logo-container {
  font-family: 'Orbitron';
  float: left;
  img {
    min-height: 3.5rem;
    max-height: 3.5rem;
    vertical-align: middle;
  }
}